<div>
 <form></br>
   <label>Username :</br></label>
     <input type="text" ng-model="username" /></br></br>
       <label>Password :</br></label>
         <input type="password" ng-model="password"></br></br>
           <label>ConfirmPassword :</br></label>
            <input type="confirmpassword" ng-model="password"></br></br>
              <label>Mobile :</br></label>
                <input type="number" ng-model="number"></br></br>

      <button ng-click="login()">Save</button>
    <button ng-click="reset()">Reset</button>
  </form>
</div>
